.tuby {
  * {
    &::-webkit-scrollbar {
      width: 10px;
      height: 10px;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
    }

    &::-webkit-scrollbar-thumb {
      border: 1px solid #191a1f;
      background: #666;
      border-radius: 16px;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: #777;
    }
    &::-webkit-scrollbar-button {
      display: none;
    }
  }
}
