.tuby {
  &-seek {
    height: 13px;
    cursor: pointer;
    
    &-wrapper {
      height: 13px;
      display: flex;
      align-items: center;
      justify-content: center;
      &:hover &-bar {
        height: 5px;
      }
  
      &-bar {
        height: 3px;
        background: #ffffff80;
        transition: 0.15s;
        &-left {
          height: 100%;
          background: var(--tuby-primary-color);
          position: relative;
    
          &:after {
            content: "";
            position: absolute;
            height: 16px;
            width: 16px;
            right: -7px;
            top: 50%;
            transform: translateY(-50%) scale(0);
            border-radius: 99999px;
            background: var(--tuby-primary-color);
            transition: 0.15s;
          }
        }
        &-left1 {
          height: 100%;
          background: var(--tuby-primary-color);
          position: relative;
    
          &:after {
            content: "";
            position: absolute;
            height: 16px;
            width: 16px;
            right: -7px;
            top: 50%;
            transform: translateY(-50%) scale(1);
            border-radius: 99999px;
            background: var(--tuby-primary-color);
            transition: 0.15s;
          }
        }
        &-left2 {
          height: 100%;
          background: var(--tuby-primary-color);
          position: relative;
    
          &:after {
            content: "";
            position: absolute;
            height: 12px;
            width: 12px;
            right: -6px;
            top: 50%;
            transform: translateY(-50%) scale(1);
            border-radius: 99999px;
            background: var(--tuby-primary-color);
            transition: 0.15s;
          }
        }
        &:hover {
          height: 9px !important;
        }
      }
    }
    
    

    &-preview {
      position: absolute;
      // top: -54px;
      line-height: 14px;
      bottom: 80px;
      font-size: 12px;
      text-align: center;
      // background: #000000b6;
      color: #eee;
      text-shadow: 0 0 4px rgb(0 0 0 / 75%);
      // padding: 3px 7px;
      pointer-events: none;
      animation: tuby-fade-forward 0.2s forwards;
      &-image {
        width: 160px;
        height: 90px;
        margin-bottom: -6px;
        border: #eee 2px solid;
        background-position-y: -0px;
      }
    }
  }
}
@keyframes tuby-fade-forward {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}